# Authentication
BETTER_AUTH_SECRET=your-secret-key-min-32-chars

# Server Configuration
HOST=localhost
PORT=3000

# Client Configuration
VITE_API_URL=http://localhost:3000
API_URL=http://localhost:3000/api
BETTER_AUTH_URL=http://localhost:3000/api/auth

# Database Configuration
DATABASE_PATH=.artifacts
DATABASE_NAME=tss-elysia.db

# Redis Configuration
# Local Docker: redis://localhost:6379
# Upstash:      rediss://default:TOKEN@HOST.upstash.io:6379
REDIS_URL=redis://localhost:6379
